<% if logged_in? %>
  <% if current_user.like?(post) %>
    <a href="#" style="color:#f00;">
      <i class="fas fa-heart"></i>
    </a>
  <% else %>
    <a href="#" style="color:#f00;">
      <i class="far fa-heart"></i>
    </a>
  <% end %>
<% end %>