<li class="list-group-item d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <%= render 'users/avatar', user:user %>
    <div class="ms-3">
      <p class="fw-bold mb-1">
        <%= link_to user.username, user %>
      </p>
    </div>
  </div>
  <% if logged_in? %>
    <%= render 'users/relationships/followers', user: %>
  <% end %>
</li>
