<div id="user" class="user">
  <div class="container d-flex">
    <div class="col-12">
      <div class="d-flex justify-content-center mb-2">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
      <div class="row">
        <h1><%= @user.username %></h1>
        <ul class="row">
         <%= render partial: 'posts/post_thumbnail', collection: @posts, as: :post %>
        </ul>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
